div {
    background-color:darkcyan;
    height: 120px;
    width: 320px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid lightgreen;
    /*
    Color:
        color: rgba(0, 0, 0, 0.5) The "a" in the "rgba" is 
                                    alpha means transparent.
        color: rgb(0, 0, 0)
    */

    color: rgba(0, 0, 0, 0.5)
    
}

.Exercise2 {
    height: 120px;
    width: 360px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 120px;
    padding: 0px;
    border: 16px solid #0066FF;
    /*
    Color:
        color: rgba(0, 0, 0, 0.5) The "a" in the "rgba" is 
                                    alpha means transparent.
        color: rgb(0, 0, 0)
    */
    color: white
    
}

.Exercise3 {
    height: 100px;
    width: 320px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    line-height:120px;
    margin-bottom: 0px;
    vertical-align: middle;
    padding: 20px;
    border: 16px solid #0066FF;
    color:white;
}

.gap {
    margin-bottom: 5px;
}

.deleteBorderTop {
    border-top: 0px;
}

.deleteBorderBottom {
    border-bottom: 0px;
}
.lightred   {
    background: lightcoral;
}

.lightyellow {
    background: rgb(236, 236, 103);
}

.lightskyblue {
    background: rgb(159, 227, 238);
}

.ligthblue {
    background: rgb(120, 129, 207);
}

.blue-box {
    background-color:red;
    height: 120px;
    width: 320px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid lightgreen;
    /*
    Color:
        color: rgba(0, 0, 0, 0.5) The "a" in the "rgba" is 
                                    alpha means transparent.
        color: rgb(0, 0, 0)
    */

    color: rgba(0, 0, 0, 0.5)
    
}

li{
    list-style:lower-alpha;
}